body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #000000;
}

.centered-text {
    font-family:'Courier New', Courier, monospace;
    font-size: 6rem;
    color: white;
    user-select: none;
    cursor: pointer;
}
